.user-profile-page .sidebar-box-main .field--name-user-picture {
  float: inline-start;
  margin-inline-end: var(--solo-px16);
}

.user-profile-page .sidebar-box-main .field--name-field-first-name,
.user-profile-page .sidebar-box-main .field--name-field-last-name {
  float: inline-start;
  margin-inline-end: var(--solo-px8);
  margin-block-end: 0!important;
  font-weight: bold;
}
