{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - icon: An icon.
 * - input_group: Flag to display as an input group.
 * - icon_position: Where an icon should be displayed.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 * - type: The type of input.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\Input
 * @see template_preprocess_input()
 */
#}
{% extends "input.html.twig" %}

{% block input %}
  <div class="solo-file-upload-wrapper">
    <input{{ attributes.addClass('solo-file-native') }} />

    <label for="{{ attributes.id }}" class="solo-file-custom">
      <span class="solo-file-button button solo-button btn-animate">Choose File</span>
      <span class="solo-file-name">No file chosen</span>
    </label>
  </div>
{% endblock %}
